<h1>HEXGOL</h1>
<p>Hex-based <a href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life">Game of Life</a></p>


<% @display.each do |cell| %>
  <li><%= cell %></li>
<% end %>


<script>
  var paper = Raphael(10,10,520,500);
  $( document ).ready(function() {
    $( "li" ).each(function() {
      a = $(this).text();
      b = /\[(\d+), (\d+)\]/;
      c = b.exec(a);
      console.log(c[0],c[1],c[2]);
      drawCircle(paper, c[1], c[2], 5)
    });
  });
</script>




