<h1>HEXGOL</h1>
<p>Hex-based <a href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life">Game of Life</a></p>


<% @board.cells.each do |cell| %>
  <li><%= cell.to_xy(10).map{|n| (n + 50).floor} %></li>
<% end %>

<br>
Round: <%= session[:step] %>
<br>
<br>
Living: <%= session[:coordinates] %>
<br>
<br>

<%= button_to "next bicycle", root_path %>

<script>
  var paper = Raphael(100,100,520,500);
  $( document ).ready(function() {
    $( "li" ).each(function() {
      a = $(this).text();
      b = /\[([-\d]+), ([-\d]+)\]/;
      c = b.exec(a);
      console.log(c[0],c[1],c[2]);
      drawCircle(paper, c[1], c[2], 5)
    });
  });
</script>

<iframe width="560" height="315" src="//www.youtube.com/embed/xP5-iIeKXE8" frameborder="0" allowfullscreen></iframe>



