<h1>HEXGOL</h1>
<p>Hex-based <a href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life">Game of Life</a></p>


<% @display.each do |cell| %>
  <li><%= cell %></li>
<% end %>


<script>
  var paper = Raphael(10,50,320,200);

  drawCircle(paper, 30,40,15);
  drawCircle2(paper, 10,10,15);
</script>




